<div class="footer sticky-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-text">
    <a href="#">About us</a>
    <a href="#">FAQ</a>
    <a href="#">Press</a>
    <a href="#">Contact</a>
    <a href="#">Copyright © 2020</a>
  </div>
</div>
