  <form class="full-width">
    <div class="form-row search-bar justify-content-between py-2">
      <div class="col-2">
        <div class="d-flex justify-content-center align-items-center border-right">
          <i class="fas fa-calendar light-grey"></i>
          <input type="text" class="form-control no-border" placeholder="Starting date">
        </div>
      </div>
      <div class="col-2">
        <div class="d-flex justify-content-center align-items-center border-right">
          <i class="fas fa-search-location light-grey"></i>
          <input type="text" class="form-control no-border" placeholder="From">
        </div>
      </div>
      <div class="col-2">
        <div class="d-flex justify-content-center align-items-center border-right">
          <i class="fas fa-ship light-grey"></i>
          <input type="text" class="form-control no-border" placeholder="Type of boat">
        </div>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-center">
          <i class="fas fa-money-bill-wave light-grey"></i>
          <input type="text" class="form-control no-border" placeholder="Remuneration">
      </div>
      <div class="col-1 d-flex justify-content-end align-items-center">
        <%= link_to conveyings_path do %>
          <button type="submit" class="btn"><i class="fas fa-search blue"></i></button>
        <% end %>
      </div>
    </div>
  </form>
</div>
