  <form class="m-3">
    <div class="form-row search-bar justify-content-between">
      <div class="col-auto">
        <div class="d-flex justify-content-center align-items-center border-right">
          <i class="fas fa-calendar light-grey"></i>
          <input type="text" class="form-control no-border" placeholder="Date de départ">
        </div>
      </div>
      <div class="col-auto">
        <div class="d-flex justify-content-center align-items-center border-right">
          <i class="fas fa-search-location light-grey"></i>
          <input type="text" class="form-control no-border" placeholder="Lieu de départ">
        </div>
      </div>
      <div class="col-auto">
        <div class="d-flex justify-content-center align-items-center border-right">
          <i class="fas fa-ship light-grey"></i>
          <input type="text" class="form-control no-border" placeholder="Type de bateau">
        </div>
      </div>
      <div class="col-auto d-flex justify-content-center align-items-center">
          <i class="fas fa-money-bill-wave light-grey"></i>
          <input type="text" class="form-control no-border" placeholder="Rémunération">
      </div>
      <div class="col-1 d-flex justify-content-end">
        <button type="submit" class="btn mb-2"><i class="fas fa-search blue"></i></button>
      </div>
    </div>
  </form>
</div>