// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "search_bar";
@import "banner";
@import "card";
@import "footer";
@import "boat-image";
@import "map";
@import "notice";
@import "photo-preview";
@import "date_picker";

.hidden {
  display: none;
}

a:hover{
  text-decoration: none;
  color: $blue;
}

h1, h2, h3, h4, h5, h6 {
  color: $blue;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
