<h2><%= @conveying.boat_name %></h2>

<div class="conveying-infos">
  <div class="boat-image">
    <%  @conveying.photos.each do |photo|%>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <div class="boat-details">
    <h2>les détails du bateau</h2>
    <h2>Ajouter des dates pour ce convoyage</h2>
    <h2>Envoyer la demande</h2>
  </div>
</div>


